@{
    ViewData["Title"] = "Gizlilik İlkeleri - ";
}
<h1>@ViewData["Title"]</h1>

<p>Sitede kullandığınız bütün kodlamalar Sakarya Üniversitesi Mühendisi, Melih Fırat Bey tarafından kodlanmıştır, şifreleriniz ve kişisel bilgileriniz hashlenmiştir</p>
