@model IEnumerable<Car.Models.Make>
@{
    ViewData["Title"] = "Markalar - ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-12">
        <h2 class="text-info"> Araç Markaları</h2>
    </div>
    <br />
    <div class="col-12 text-right">
        <a class="btn btn-info" asp-action="Create">Yeni Marka Ekle</a>
    </div>
    <br />
    <br />
    <table class="table table-stripper border">
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(m => m.Name)
            </th>

            <th>

            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.Name)
                </td>
                <td>
                    <partial name="_TableButtonPartial" model="item.Id" />
                </td>
              
            </tr>
        }
    </table>

</div>

